parameters:
    level: 9
    paths:
        - src
    checkOctaneCompatibility: true

    type_coverage:
        return: 100
        param: 100
        property: 100

    ignoreErrors:
            -
                message: '#Call to an undefined method Illuminate\\Contracts\\Cache\\Repository::memo\(\)\.#'
                path: src/Traits/HasCacheMethods.php
